@import "../../assets/scss/helpers/variables.scss";
@import "../../assets/scss/helpers/typography.scss";

@mixin after() {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin colorButton($bg) {
  background-color: $bg;
  border-radius: 6px;
  position: relative;
  border: 2px solid transparent;
  transition: border 0.3s, box-shadow 0.3s;

  &:hover:not(:disabled) {
    border: 2px solid $blueLight;
  }

  &:active:not(:disabled) {
    border: 2px solid $blueLight;
    box-shadow: initial;
    .content {
      opacity: 0.7;
    }
  }

  &::after {
    content: '';
    transition: border 0.3s;
  }

  &:global(.focus-visible) {
    border: 2px solid $white;

    &::after {
      @include after();
      margin: -3px;
      border-radius: 8px;
      border: 1px solid $bg;
    }
  }

  .content {
    color: $white;
  }
}

.button {
  font-size: 16px;
  padding: 4px 6px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s;

  &:focus {
    outline: 0;
  }

  &[disabled] {
    opacity: 0.3;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    .loading {
      opacity: 0.5;
    }
  }

  &.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: all .3s ease-out;

    &:not(:active):not(:hover) {
      &:global(.focus-visible) {
        background: transparent;
        border: 1px solid rgba(107, 119, 140, 0.5);
      }
    }

    &:hover {
      background: rgba(75, 108, 173, 0.1);
    }

    &:active {
      .content {
        opacity: 0.7;
      }
    }
  }

  &.loading {
    pointer-events: none;
    &::after {
      position: absolute;
      display: block;
      background-color: rgba(255,255,255,.5);
      z-index: 10;
      width: calc(100% + 100%);
      height: calc(100% + 100px);
      top: -10px;
      left: -10px;
    }
    &.transparent,
    &.withoutBorder {
      border: 1px solid rgba(107, 119, 140, 0.3);
    }
  }

  &.blueDark {
    @include colorButton($blueDark);
  
    &:hover:not(:disabled) {
      box-shadow: 0px 8px 16px rgba(0, 24, 71, 0.16);
    }

    &:active:not(:disabled) {
      box-shadow: initial;
    }
  }

  &.blue {
    @include colorButton($blue);

    &:hover:not(:disabled) {
      box-shadow: 0px 8px 16px rgba(78, 135, 247, 0.16);
    }

    &:active:not(:disabled) {
      box-shadow: initial;
    }
  }

  &.red {
    @include colorButton($red);

    &:hover:not(:disabled) {
      border: 2px solid #CACCD1;
      box-shadow: 0px 8px 16px rgba(247, 78, 108, 0.16)
    }

    &:active:not(:disabled) {
      border: 2px solid rgba(75, 108, 173, 0.2);
      box-shadow: initial;
    }

    &:global(.focus-visible)::after {
      border: 1px solid rgba(107, 119, 140, 0.5);
    }
  }

  &.gray {
    @include colorButton($gray);

    &:hover:not(:disabled) {
      box-shadow: 0px 6px 12px rgba(107, 119, 140, 0.16);
      border: 2px solid #CACCD1;
    }

    &:active:not(:disabled) {
      border: 2px solid rgba(107, 119, 140, 0.2);
      box-shadow: initial;
    }

    &:global(.focus-visible)::after {
      @include after();
      margin: -2px;
      border-radius: 6px;
      border: 1px solid rgba(107, 119, 140, 0.5);
    }
  }

  &.transparent {
    background-color: transparent;
    border-radius: 6px;
    position: relative;
    border: 1px solid $gray;
    transition: background-color 0.3s;

    &:hover:not(:disabled), &:active:not(:disabled) {
      background-color: rgba(107, 119, 140, 0.1)
    }

    &:active:not(:disabled) {
      .content {
        opacity: 0.7;
      }
    }

    &:global(.focus-visible) {
      &::after {
        @include after();
        margin: -3px;
        border-radius: 8px;
        border: 2px solid #fff;
      }

      &::before {
        @include after();
        margin: -3px;
        border-radius: 8px;
        border: 1px solid rgba(107, 119, 140, 0.5);
        z-index: 1;
      }
    }

    .content {
      color: $gray;
    }

    .loader {
      border-color: $gray;
      border-top-color: transparent;
      opacity: 1;
    }
  }

  &.withoutBorder {
    border-radius: 6px;
    transition: background-color 0.3s, border 0.3s;
    border: 1px solid transparent;

    &:hover:not(:disabled) {
      background-color: rgba(107, 119, 140, 0.1);
    }

    &:active:not(:disabled) {
      .content {
       opacity: 0.7;
      }
    }

    &:global(.focus-visible) {
      border: 1px solid rgba(107, 119, 140, 0.5);
    }

    .content {
      color: $gray;
    }
    .loader {
      border-color: $gray;
      border-top-color: transparent;
      opacity: 1;
    }
  }

  
  &.sizeL {
    padding: 8px 16px;
    .content {
      @include buttonL();
    }

    .loader {
      width: 20px;
      height: 20px;
    }
  }
  
  &.sizeM {
    padding: 4px 14px;
    .content {
      @include buttonM();
    }

    .loader {
      width: 16px;
      height: 16px;
    }
  }
  
  &.sizeS {
    padding: 4px 6px;
    .content {
      @include buttonS();
    }

    .loader {
      width: 12px;
      height: 12px;
    }
  }
}

.loader {
  background-color: transparent;
  border: 2px solid $white;
  border-radius:  50%;
  border-top-color: transparent;
  animation: spin .5s linear 0s infinite;
  margin-right: 8px;
  opacity: 1;
  width: 16px;
  height: 16px;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
