$dark: #001847;
$blueDark: #1756D0;
$blue: #4E87F7;
$slatyBlue: #4B6CAD;
$gray: #6B778C;
$lightGray:#F9FAFC;
$white: #FFFFFF;
$red: #F74E6C;
$blueLight: #A0C0FF;
$green: #2DB976;
$gradientPrimary: linear-gradient(254.98deg, #3D76E8 2.53%, #1C4EB0 100%);
$gradientSecondary: linear-gradient(180deg, rgba(78, 135, 247, 0.1) 0%, rgba(78, 135, 247, 0.02) 100%);

